<h1>aboutページ</h1>
<h2>Motogramの特徴</h2>
  <div class= "post_show introduction">
      投稿詳細<br>
      投稿画像を選ぶと、投稿の詳細画面に遷移されます。<br>
      ツーリング先の場所をマップ上で確認できます！<br>
      また、投稿したユーザーがどのくらい走ったのか走行距離が確認できます！
  </div>
    <%= image_tag asset_path('post_show.png') %>
<div class = "user_show introduction">
      ユーザー詳細画面<br>
      ユーザーのプロフィール画面を選ぶと、ユーザーの詳細画面に遷移されます<br>
      ユーザーの総走行距離、愛車情報が確認できます！
      
      
</div>
     <%= image_tag asset_path('user_show.png') %>