#back img{
  width: 50px;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#spProfile {
    display: none;
}

@media screen and (max-width: 480px) {
   #spProfile {
       display: block;
   }
   #pcProfile {
       display: none;
   }
    
   #about img {
   width: 100%;
   }
   
   
}