@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "about";

#image {
    margin: auto;
}
#map {
    margin: auto;
}
.display_sp {
    display: none;
}

@media screen and (max-width: 480px) {
  .display_sp {
      display: block;
  }
}