<div class="container">
  <table class="table  table-inverse">
    <th>ユーザー編集</th>
      <tr>
        <td>ユーザーID</td>
        <td><%= @user.id %></td>
      </tr>

      <tr>
        <td>ユーザーネーム</td>
        <td><%= @user.user_name %></td>
      </tr>
      
      <tr>
        <td>氏名</td>
        <td><%= @user.last_name %><%= @user.first_name %></td>
      </tr>
      
      <tr>
        
      </tr>
  </table>
</div>