<h1>通知画面</h1>  
  <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
    <% if notifications.exists? %>
      <%= render notifications %>
    <% else %>
      <p>通知はありません</p>
    <% end %>

